In [4]:
import pandas as pd
from IPython.display import display

# Set display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df = pd.read_csv('C:/Users/ashto/OneDrive/Desktop/Mid Term Data Sets/Repositories/US_Military_Deaths_1980-2010/U.S. Military Deaths by cause 1980-2010.csv')

# Display the entire DataFrame
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df)

,Calendar Year,Active Duty,Full-Time (est) Guard+Reserve,Selected Reserve FTE,Total Military FTE,Total Deaths,Accident,Hostile Action,Homicide,Illness,Pending,Self-Inflicted,Terrorist Attack,Undetermined
0,1980,2050758,22000,86872,2159630,2392,1556.0,0,174,419,0,231,1,11
1,1981,2093032,22000,91719,2206751,2380,1524.0,0,145,457,0,241,0,13
2,1982,2112609,41000,97458,2251067,2319,1493.0,0,108,446,0,254,2,16
3,1983,2123909,49000,100455,2273364,2465,1413.0,18,115,419,0,218,263,19
4,1984,2138339,55000,104583,2297922,1999,1293.0,1,84,374,0,225,6,16
5,1985,2150379,64000,108806,2323185,2252,1476.0,0,111,363,0,275,5,22
6,1986,2177845,69000,113010,2359855,1984,1199.0,2,103,384,0,269,0,27
7,1987,2166611,71000,115086,2352697,1983,1172.0,37,104,383,0,260,2,25
8,1988,2121659,72000,115836,2309495,1819,1080.0,0,90,321,0,285,17,26
9,1989,2112128,74200,117056,2303384,1636,1000.0,23,58,294,0,224,0,37
10,1990,2046806,74250,137268,2258324,1507,880.0,0,74,277,0,232,1,43
11,1991,1943937,70250,184002,2198189,1787,931.0,147,112,308,0,256,0,33
12,1992,1773996,67850,111491,1953337,1293,676.0,0,109,252,0,238,1,17
13,1993,1675269,68500,105768,1849537,1213,632.0,0,86,221,0,236,29,9
14,1994,1581649,65000,99833,1746482,1075,544.0,0,83,206,0,232,0,10
15,1995,1502343,65000,94585,1661928,1040,538.0,0,67,174,0,250,7,4
16,1996,1456266,65000,92409,1613675,974,527.0,1,52,173,0,188,19,14
17,1997,1418773,65000,94609,1578382,817,433.0,0,42,170,0,159,0,13
18,1998,1381034,65000,92536,1538570,827,445.0,0,26,174,0,165,3,14
19,1999,1367838,65000,93104,1525942,796,439.0,0,38,154,0,150,0,15
20,2000,1372352,65000,93078,1530430,832,429.0,0,37,180,0,153,17,16
21,2001,1384812,65000,102284,1552096,943,461.0,12,49,197,0,153,46,25
22,2002,1411200,66000,149942,1627142,1051,565.0,17,54,213,0,174,0,28
23,2003,1423348,66000,243284,1732632,1399,597.0,312,46,231,1,190,0,22
24,2004,1411287,66000,234629,1711916,1847,605.0,735,46,256,0,197,0,8
25,2005,1378014,66000,220000,1664014,1929,646.0,739,54,280,1,182,0,27
26,2006,1371533,72000,168000,1611533,1882,561.0,769,47,257,8,213,0,27
27,2007,1368226,72000,168000,1608226,1953,561.0,847,52,237,22,211,0,23
28,2008,1402227,73000,207917,1683144,1440,506.0,352,47,244,6,259,1,25
29,2009,1421668,75000,144083,1640751,1515,467.0,346,77,277,19,302,0,27
30,2010,1430985,76000,178193,1685178,1485,424.0,456,39,238,22,289,0,17

In [3]:
# Count the number of rows and columns
num_rows = df.shape[0]
num_columns = df.shape[1]

# Print the counts
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 31
Number of columns: 14